#body{
    height:auto;
}
#menu{
height: 50px;
width:1430px;

}

#cater{
    height: 700px;

    
}
#cater #left{
   
    width:715px;
    float: left;
    height:600px;
}
#cater #right {

    width:600px;
    height:600px;
    float:right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#list{
    width: 1430px;
    height:800px;
}


#contact{
    height:800px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#menu ul{
    position:fixed;
   margin:0px;
   padding:0px;
}
#menu ul li {
    float:left;
    list-style: none;
    text-indent: 200px;
    
}
#menu ul li a{
    text-decoration:none;
    display:block;
    height:50px;
    line-height: 50px;
    color: #000;
}
#cater #left img{
    opacity: 0.7;
    height:600px;
    padding-left: 200px;
    padding-top:60px;
}
#cater #right h1{
    padding-top:50px;
    font-style: inherit;
    padding-left:50px;
    letter-spacing: 5px;
    font-weight: bold;
    font-size:40px;

}
#cater #right  #w1{

margin-top:90px;
letter-spacing:4px;
font-weight:lighter;
font-size: 20px;



}
#cater #right #w2{
    font-weight:lighter;
    margin-left:-80px;
    font-size: 20px;
    color:#000;
    line-height: 30px;

}
#cater #right #w3{
    padding-top:30px;
    font-weight:lighter;
    margin-left:-80px;
    font-size: 20px;
    color:#757575;
    line-height: 30px;

}
#list #l1{
   
    width:700px;
    height:600px;
    float: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom:20px;
}
#list #r1{
    
    float:right;
    padding-top:50px;
    padding-right:150px;
   border-radius: 10px;
   opacity: 0.7;

}
#list #l1 ul li{
    list-style: none;
    padding-left:170px;
    line-height: 60px;
}
#list #l1 #li1{
    font-size: 25px;
    letter-spacing: 3px;

}
#list #l1 h1{
    font-size: 45px;
    letter-spacing: 5px;
    font-weight:lighter;
    padding-left: 300px;
    word-spacing: 8px;

}
#list #l1 #li2{
    color:#757575;
}
#p{
    text-align: center;
    color:#757575;
    opacity: 0.7;
}
#p2{
    text-align: center;
    color:#757575;
    opacity: 0.7;
    padding-bottom:60px;
}
#contact h1{
    padding-left:210px;
    letter-spacing: 5px;
}
#contact ul li{
    list-style:none;
   line-height: 50px;
   padding-left:170px;
}
#contact #ct2{
    color:#607d8b;
    font-size: 19px;
}

#contact #ct1{
   font-size: 17px;
   word-spacing: -1px;
}
#check{
    text-align: center;
    width:100%;
    height:700px;

}
#check input{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    margin:10px;
    border:none;
    border-bottom: 1px solid #607d8b;
    overflow:visible;
    display:block;
    text-align: justify;
    padding-right:200px;
    
}
#send{
    
    padding-right:900px;
}
#menu ul{
    width:1430px;
    background-color: white;
    color:#000;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
#menu ul #first{
    float:left;
    letter-spacing: 5px;
}
#menu ul #behind{
float:right;
    overflow: hidden;
}

    


    



